:root {
    --primary: #103106;
    --ssecondary: #4c0236;
    --white: #fff;
}

* {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

html, body {
    margin: 0;
    padding: 0;
}

#about-me {
    padding-left: 25px;
}

#contact-me {
    background-color: var(--primary);
    color: var(--white);
}

#contact-me h3 {
    padding-left: 25px;
}

.contact-ul {
    display: flex;
    gap: 45px;
    list-style-type: none;
    justify-content: center;
}

.contact-ul li {
    /* color: var(--white); */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--white);
}

header ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-right: 100px;
    font-size: 20px;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    border-radius: 50%;
    padding: 25px;
}

header div h1 {
    margin-left: 15px;
    font-size: 45px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

#projects {

}

#projects h2 {
    padding-left: 25px;
}

section {
    display: flex;
}

section h2 {
    width: 25%;
    border-right: 2px solid black;
    margin-right: 10px;
}

section .right {
    width: 75%; 
}